h1{
    text-align: center;
    color:white;
    font-size: 42px;
    margin:0px;
}

body {
    background-color: #f0f8ff;
    color:#333333;
    font-family:'arial',sans-serif ;
    margin: 0;
    padding: 0;
}

header p{
    color:white;
    text-align: center;
}

header {
    background-color: #4fc3f7;
    border-bottom: 3px solid orange;
    padding: 30px;
    text-align: center;
    margin: 5px;
}

img{
    color:#01579b;
    border:5px solid #4fc3f7;
    text-decoration: none;
    border-radius: 15px;
}

h2{
    border-bottom: 3px solid orange;
    text-align: center;
    color: #01579b;
    font-size: 28px;
    
}

footer {
    border-top: 5px solid orange;
    background-color: #4fc3f7;
    padding:25px;
    margin-top: 50px;
    text-align: center;
    color:white;
}

table {
    
    border-collapse: collapse;
    background-color: lightblue;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #e3f2fd;
    text-align: center;
    padding: 15px;
    margin: 20px;
   
}

div {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding:25px;
    border: 2px solid #e3f2fd;
}

a {
    text-decoration: none;
    border-radius: 25px;
    margin: 0px 15px;
    padding: 10px 20px;
}

td {
    border:1px solid #4fc3f7;
    padding: 12px;
    text-align: center;
    background-color: #e3f2fd;
}

.content {
    display: flex;
    margin: 20px;
}

a:hover {
    background-color: #4fc3f7;
    color:white;
}
